tests/
find_neighbours_from_folder
find_neighbours
create_descriptors
.idea/
descriptors/
comics/
images/
cmake-build-debug
draw_good_matches
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
